{
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "printWidth": 130,
    "useTabs": false,
    "jsxSingleQuote": true,
    "endOfLine": "auto",
    "bracketSameLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "pugAttributeSeparator": "none",
    "pugWrapAttributesThreshold": 1,
    "overrides": [
        {
            "files": [".eslintrc"],
            "options": {
                "parser": "json"
            }
        }
    ]
}
