.button {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 100%;
    overflow: hidden;
    color: var(--button-text-color);
    text-align: center;
    transition-timing-function: var(--primary-transition-timing-function);
    transition-duration: var(--primary-transition-duration);
    transition-property: box-shadow;
}

.button_type_simple .button__icon {
    width: 27px;
}

.button_type_primary {
    padding: 15px 20px;
    background: var(--themes-background, #fff);
    border: 2px solid var(--themes-main-color, #000);
}

.button_type_primary::before {
    position: absolute;
    inset: 0;
    content: '';
    background-color: var(--themes-main-color);
    transition: transform 0.5s ease-in-out;
    transform: translateX(-101%);
    transform-origin: 0 50%;
}

.button_type_primary:hover::before {
    transform: scaleX(1);
}

.button_type_primary:focus-visible {
    box-shadow: 2px 2px 0 0 var(--themes-main-color);
}

.button_type_primary.button_size_small {
    padding: 12.5px;
}

.button_type_primary .button__icon {
    mix-blend-mode: difference;
    fill: currentColor;
}

.button__icon {
    display: flex;
    flex: 0 0 auto;
    width: 21px;
}

.button__text {
    font-family: var(--secondary-font);
    font-size: 14px;
    line-height: 0.9;
    mix-blend-mode: difference;
}

@media only screen and (max-width: 580px) {
    .button {
        flex-direction: column;
    }

    .button__icon {
        width: 28px;
    }
}
