.theme-menu__item {
    display: flex;
    text-align: left;
}

.theme-menu__item:not(:last-child) {
    margin-bottom: 14px;
}

.theme-menu__button {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    color: var(--themes-main-color);
    text-transform: uppercase;
    transition: opacity 0.3s ease;
}

.theme-menu__button::before {
    position: absolute;
    inset: auto 0 -3px 20px;
    height: 2px;
    content: '';
    background: currentColor;
    transition: transform 0.3s ease;
    transform-origin: 0 50%;
}

.theme-menu__button:not(:focus-visible)::before {
    transform: scale(0);
}

.theme-menu__button:hover,
.theme-menu__button:focus,
.theme-menu__button:focus-visible,
.theme-menu__button:disabled {
    opacity: 0.6;
}

.theme-menu__button:disabled {
    pointer-events: none;
}

.theme-menu__button:disabled::after {
    position: absolute;
    top: 50%;
    left: 0;
    margin-right: 6px;
    content: '▶';
    animation: theme-menu-arrow-moving 0.5s ease-in-out infinite alternate;
}
